{% extends 'base.html' %}

{% block content %}

<form>
    <div class="container">
        <h1><u>Enter patient data</u></h1>
        <br>
        <div class="textbox">
            <label for="first-name">
                <h4>Name:</h4>
            </label>
            <input type="text" name="first-name" id="first-name" placeholder="John" required />
        </div>
        <div class="row">
            <div class="col-md-4 attr">
                <h4>Symptom-1</h4>
                <label for="radio-choice-1">Yes</label>
                <input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" />
                <label for="radio-choice-2">No</label>
                <input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" />
            </div>
            <div class="col-md-4 attr">
                <h4>Symptom-1</h4>
                <label for="radio-choice-1">Yes</label>
                <input type="radio" name="radio-choice1" id="radio-choice-1" value="choice-1" />
                <label for="radio-choice-2">No</label>
                <input type="radio" name="radio-choice1" id="radio-choice-2" value="choice-2" />
            </div>
            <div class="col-md-4 attr">
                <h4>Symptom-1</h4>
                <label for="radio-choice-1">Yes</label>
                <input type="radio" name="radio-choice2" id="radio-choice-1" value="choice-1" />
                <label for="radio-choice-2">No</label>
                <input type="radio" name="radio-choice2" id="radio-choice-2" value="choice-2" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 attr">
                <h4>Symptom-1</h4>
                <label for="radio-choice-1">Yes</label>
                <input type="radio" name="radio-choice3" id="radio-choice-1" value="choice-1" />
                <label for="radio-choice-2">No</label>
                <input type="radio" name="radio-choice3" id="radio-choice-2" value="choice-2" />
            </div>
            <div class="col-md-4 attr">
                <h4>Symptom-1</h4>
                <label for="radio-choice-1">Yes</label>
                <input type="radio" name="radio-choice4" id="radio-choice-1" value="choice-1" />
                <label for="radio-choice-2">No</label>
                <input type="radio" name="radio-choice4" id="radio-choice-2" value="choice-2" />
            </div>
            <div class="col-md-4 attr">
            </div>
        </div>
        <button type="button" class="btn-lg btn-primary">Submit</button>
    </div>
</form>


{% endblock %}