{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table style="width:100%" class="table">
        <thead>
            <th>Name</th>
            <th>Symptom-1</th>
            <th>Symptom-2</th>
            <th>Symptom-3</th>
            <th>Symptom-4</th>
            <th>Symptom-5</th>
            <th>Disease</th>
        </thead>
        <tbody>
            <tr>
                <td>John Doe</td>
                <td>True</td>
                <td>False</td>
                <td>True</td>
                <td>True</td>
                <td>False</td>
                <td>Viral Fever</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}